/* GLOBAL */
body {
  font-family: 'Inter', sans-serif;
}

/* HOME */
.col-main-photo{
  background-image: url('/public/Imagine/home/main_photo.jpg');
  background-position: center;
}

.main-photo-container{
  padding: 40px;
}

.progress-circle {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 6px #FC7400);
}

.progress-circle-background {
  fill: none;
  stroke: transparent;
  stroke-width: 2;
}

.progress-circle-bar {
  fill: none;
  stroke: #fff; /* Change this to your desired color */
  stroke-width: 2;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.3s ease-in-out;
}

.progress-text {
  font-size: 10px;
  font-weight: 400;
  fill: #fff;
}

.progress-text-percentage {
  font-size: 16px;
}